langchain
langchain-mistralai
fastapi[standard]
transformers
langchain-huggingface
torch
accelerate
python-dotenv
huggingface-hub
sentence-transformers
pypdf
langchain-community
beautifulsoup4
tiktoken
chromadb